################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/QRCodeGeneration/DesignTimeBuild/.dtbcache.v2
/.vs/QRCodeGeneration/FileContentIndex/ff389f8c-ee99-4451-8d9b-a1ed5b2206b2.vsidx
/.vs/QRCodeGeneration/FileContentIndex/f3dd96ae-bf5f-430d-9626-126acb25d218.vsidx
/.vs/QRCodeGeneration/FileContentIndex/be4b4e78-800d-4ad5-bf8e-db36df77c9fe.vsidx
/.vs/QRCodeGeneration/FileContentIndex/808b3c23-d081-4c61-a12a-0cd079ca5d9f.vsidx
/.vs/QRCodeGeneration/FileContentIndex/7aa17c41-7409-4a82-a954-611548504d5a.vsidx
/.vs/QRCodeGeneration/FileContentIndex/6de0b964-8bdf-4825-bad4-673e7f722a33.vsidx
/.vs/QRCodeGeneration/FileContentIndex/65e86312-1a07-48c6-938c-5b72ee7044bf.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3bf5c41e-8957-4365-a5de-4fc4599b0817.vsidx
/.vs/QRCodeGeneration/FileContentIndex/38261654-b8e2-4de6-a6ae-bcbad0776e0c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3737fd91-5102-401b-a608-993279e2083c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/21f34bfe-1d72-4639-bf1c-6740b90a6016.vsidx
/.vs/QRCodeGeneration/FileContentIndex/078c16da-4520-4028-95b3-d79371067231.vsidx
/.vs/QRCodeGeneration/FileContentIndex/f3dd96ae-bf5f-430d-9626-126acb25d218.vsidx
/.vs/QRCodeGeneration/FileContentIndex/be4b4e78-800d-4ad5-bf8e-db36df77c9fe.vsidx
/.vs/QRCodeGeneration/FileContentIndex/808b3c23-d081-4c61-a12a-0cd079ca5d9f.vsidx
/.vs/QRCodeGeneration/FileContentIndex/7aa17c41-7409-4a82-a954-611548504d5a.vsidx
/.vs/QRCodeGeneration/FileContentIndex/6de0b964-8bdf-4825-bad4-673e7f722a33.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3bf5c41e-8957-4365-a5de-4fc4599b0817.vsidx
/.vs/QRCodeGeneration/FileContentIndex/38261654-b8e2-4de6-a6ae-bcbad0776e0c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3737fd91-5102-401b-a608-993279e2083c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/f3dd96ae-bf5f-430d-9626-126acb25d218.vsidx
/.vs/QRCodeGeneration/FileContentIndex/be4b4e78-800d-4ad5-bf8e-db36df77c9fe.vsidx
/.vs/QRCodeGeneration/FileContentIndex/808b3c23-d081-4c61-a12a-0cd079ca5d9f.vsidx
/.vs/QRCodeGeneration/FileContentIndex/7aa17c41-7409-4a82-a954-611548504d5a.vsidx
/.vs/QRCodeGeneration/FileContentIndex/6de0b964-8bdf-4825-bad4-673e7f722a33.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3bf5c41e-8957-4365-a5de-4fc4599b0817.vsidx
/.vs/QRCodeGeneration/FileContentIndex/38261654-b8e2-4de6-a6ae-bcbad0776e0c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3737fd91-5102-401b-a608-993279e2083c.vsidx
/.vs/QRCodeGeneration/FileContentIndex/3737fd91-5102-401b-a608-993279e2083c.vsidx
/.vs/QRCodeGeneration/DesignTimeBuild/.dtbcache.v2
/.vs/QRCodeGeneration/v17/.futdcache.v2
/.vs/QRCodeGeneration/v17/.suo
/Dttl.Qr.Data/bin/Debug/net6.0/Dttl.Qr.Model.pdb
/Dttl.Qr.Data/bin/Debug/net6.0/Dttl.Qr.Model.dll
/Dttl.Qr.Data/bin/Debug/net6.0/Dttl.Qr.Data.pdb
/Dttl.Qr.Data/bin/Debug/net6.0/Dttl.Qr.Data.dll
/Dttl.Qr.Data/bin/Debug/net6.0/Dttl.Qr.Data.deps.json
/Dttl.Qr.Data/obj/Debug/net6.0/ref/Dttl.Qr.Data.dll
/Dttl.Qr.Data/obj/Debug/net6.0/refint/Dttl.Qr.Data.dll
/Dttl.Qr.Data/obj/Debug/net6.0
/Dttl.Qr.Model/bin/Debug/net6.0/Dttl.Qr.Model.pdb
/Dttl.Qr.Model/bin/Debug/net6.0/Dttl.Qr.Model.dll
/Dttl.Qr.Model/bin/Debug/net6.0/Dttl.Qr.Model.deps.json
